@font-face {
	font-family: 'Barlow-Light';
	src: url(/fonts/barlow/Barlow-Light.otf); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #EFF6FF;
    --basic: #2A4A5C;
    --button__fb: #255A9B;
    --button__in: #0076B6;
    --white: #fff;
    --second__text: #7B8A92;
    --divided: #96A5B1;
    --border: #3698FB;
    --border__dipper: #EEEEEE;
    --hint:  #AFAFAF;
}

body {
	font-family: 'Barlow-Light';
    background-color: var(--background);
    overflow: hidden;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flex {
    display: flex;
}

h1 {
    font-size: 2em;
    font-family: sans-serif;
    color: var(--second__text);
    padding-bottom: 10px;
}

h2 {
    color: var(--second__text);
}

h3 {
    color: var(--second__text);
    padding-bottom: 30px;
}

    /* ---- main ----  */
.main {
    width: 1300px;
    margin: 30px;
    background-color: var(--white);
}

.img__logo {
    margin: 20px;
    width: 100px;
    height: auto;
    position: absolute;
}

.img__bg {
    width: 650px;
    height: 750px;
}

.section__right {
    background-color: var(--white);
    width: 700px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

    /* ---- section__right ---- */

.reg {
    margin-top: 30px;
}

.reg__buttons {
    align-items: center;
    justify-content: space-between;
}

.reg-button__left {
    color: var(--white);
    align-items: center;
    padding: 10px 80px 10px 10px;
    background-color: var(--button__fb);
}

.reg-button__right {
    color: var(--white);
    align-items: center;
    padding: 10px 80px 10px 10px;
    background-color: var(--button__in);
}

.reg-left__img {
    background-image: url(../img/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.reg-right__img {
    background-image: url(../img/linkedin.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.reg-divided {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.divided {
    margin: 5px 15px;
    width: 100px;
    border: 0.5px solid var(--divided);
}

.reg__text {
    color: var(--second__text);
    font-size: 0.8em;
}

.reg-form {
    margin-top: 50px;
    justify-content: space-between;
}

.reg-form__left {
    padding-left: 10px;
    border-left: 2px solid var(--border);
    border-top: 1px solid var(--border__dipper);
    border-right: 1px solid var(--border__dipper);
    border-bottom: 1px solid var(--border__dipper);
}

.label__text {
    color: var(--second__text)
}

.reg-form__right {
    padding-left: 10px;
    border: 1px solid var(--border__dipper);
}

.input {
    color: black;
    margin: 5px 10px;
    margin-left: 0px;
    height: 25px;
    width: 250px;
    border: none;
}

.input::-webkit-input-placeholder {
    color: black;
}

.radio {
    justify-content: space-between;
    align-items: center;
}

.radio-item input{
    margin-right: 10px;
}

input[type="radio"] {
    appearance: none;
    width:  15px;
    height: 15px;
    border: 1px solid var(--second__text);
    border-radius: 50%;
    cursor: pointer;
}

.radio-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="radio"]:hover {
    border: 3px solid var(--border);
}

input[type="radio"]:checked {
    border: 3px solid var(--border);
}

.radio__hint {
    color: var(--hint);
    cursor: help;
}

[data-title] {
    position: relative;  
    cursor: help; 
}

[data-title]::after {
    content: attr(data-title); 
    position: absolute; 
    left: -100px; 
    top: 2em; 
    opacity: 0; 
    transition: 0.5s; 
    pointer-events: none; 
    color: var(--hint);
    padding: 0.5em; 
    width: 200px;
    height: 80px;
    box-shadow: 42px 42px 84px #d7d7d7,
    -42px -42px 84px #e9e9e9;
}

  [data-title]:hover::after {
    opacity: 1; 
}

 /* ---- flag ---- */

.flag {
    margin-top: 70px;
}

.flag__cl {
    color: var(--second__text);
    cursor: default;
}
.flag > a:visited {
    color: var(--border);
}

.flag__bl {
     text-decoration: underline;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + span {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

input[type="checkbox"] + span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px; 
    border-radius: 3px;
    border: 1px solid var(--divided);
}

    /* ---- create ----  */

.create {
    margin-top: 70px;
}

.account {
    padding: 10px 70px;
    background-color: var(--border);
    color: var(--white);
    font-size: 1rem;
    border-radius: 5px;
}


    /* ---- media ---- */



@media screen and (max-width: 1200px) {

h1 {
    font-size: 1.5em;
    padding-bottom: 5px;
}

h3 {
    padding-bottom: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.main {
    margin: 25px;
    width: 0;
    align-items: center;
}

.img__bg {
    display: none;
}

.section__right {
    width: auto;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.reg {
    margin-top: 30px;
}
.reg-button__left {
    padding: 5px 40px 5px 5px;
}

.reg-button__right {
    padding: 5px 40px 5px 5px;
}

.reg-left__img {
    padding-right: 20px;
}

.reg-right__img {
    margin-right: 10px;
}

.reg-divided {
    margin-top: 25px;
}

.reg__text {
    font-size: 0.8em;
}

.reg-form {
    margin-top: 50px;
}

.reg-form__left {
    padding-left: 10px;
}

.reg-form__right {
    padding-left: 10px;
}

.radio-item input{
    margin-right: 10px;
}


.flag {
    margin-top: 70px;
}


.create {
    margin: 30px 0;
}

    

}
