@import url(media.css);
@font-face {
	font-family: 'Barlow-Light';
	src: url(/fonts/barlow/Barlow-Light.otf); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #EFF6FF;
    --basic: #2A4A5C;
    --button__fb: #255A9B;
    --button__in: #0076B6;
    --white: #fff;
    --second__text: #7B8A92;
    --divided: #96A5B1;
    --border: #3698FB;
    --border__dipper: #EEEEEE;
    --hint:  #AFAFAF;
}

body {
	font-family: 'Barlow-Light';
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.flex {
    display: flex;
}

.flex-w {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.flex-jc {
    justify-content: space-between;
    align-self: center;
}

h1 {
    font-size: 2em;
    font-family: sans-serif;
    color: var(--second__text);
    padding-bottom: 10px;
}

h2 {
    color: var(--second__text);
}

h3 {
    color: var(--second__text);
    padding-bottom: 30px;
}


html {
    background-color: var(--background);
}
    /* ---- main ----  */

.main {
    margin: 20px;
    background-color: var(--white);
}

.img-logo {
    margin: 20px;
    width: 100px;
    height: auto;
    position: absolute;
}

.img-bg {
    object-fit: cover;
    width: 700px;
    height: auto;
}

.section__right {
    min-width: 200px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

    /* ---- section__right ---- */

.reg {
    margin-top: 30px;
}

.reg-buttons {
    align-items: center;
    justify-content: space-between;
}

.reg-bns {
    width: 273px;
    color: var(--white);
    align-items: center;
    padding: 10px 0 10px 10px;
}

.reg-button__left {
    background-color: var(--button__fb);
}

.reg-button__right {
    background-color: var(--button__in);
}

.reg-left-img {
    background-image: url(../img/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.reg-right-img {
    background-image: url(../img/linkedin.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.reg-divided {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.divided {
    display: block;
    margin: 5px 15px;
    width: 100px;
    border: 0.5px solid var(--divided);
}

.reg-text {
    color: var(--second__text);
    font-size: 0.8em;
}

.reg-form {
    margin-top: 50px;
    justify-content: space-between;
}

.reg-form__color {
    padding-left: 5px;
    border: 1px solid var(--border__dipper);
}

input {
    outline: none;
}

.reg-form__left:hover , .reg-form__right:hover  {
    border-left: 2px solid var(--border);
}

.reg-label:active {
    border-left: 2px solid var(--border);
}

.label-text {
    color: var(--second__text)
}

.input {
    color: black;
    margin: 5px 10px;
    margin-left: 0px;
    width: 250px;
    border: none;
}

.input::-webkit-input-placeholder {
    color: black;
}

.radio {
    justify-content: space-between;
    align-items: center;
}

.radio-item {
    margin-right: 10px;
}

.radio-item input{
    margin-right: 10px;
}

input[type="radio"] {
    appearance: none;
    width:  15px;
    height: 15px;
    border: 1px solid var(--second__text);
    border-radius: 50%;
    cursor: pointer;
}

.radio-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="radio"]:hover {
    border: 3px solid var(--border);
}

input[type="radio"]:checked {
    border: 3px solid var(--border);
}

.radio__hint {
    color: var(--hint);
    cursor: help;
}

[data-title] {
    position: relative;  
    cursor: help; 
}

[data-title]::after {
    content: attr(data-title); 
    position: absolute; 
    left: -100px; 
    top: 2em; 
    opacity: 0; 
    transition: 0.5s; 
    pointer-events: none; 
    color: var(--hint);
    padding: 0.5em; 
    width: 200px;
    height: 80px;
    box-shadow: 42px 42px 84px #d7d7d7,
    -42px -42px 84px #e9e9e9;   
}

[data-title]:hover::after {
    opacity: 1; 
}

 /* ---- flag ---- */

.flag {
    margin-top: 70px;
}

.flag__cl {
    color: var(--second__text);
    cursor: default;
}
.flag > a:visited {
    color: var(--border);
}

.flag__bl {
     text-decoration: underline;
}


 /* ---- checkbox input ---- */
input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type="checkbox"] + span  {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

input[type="checkbox"] + span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

input[type="checkbox"]:checked + span::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    border-color: #0b76ef;
    background-color: #0b76ef;
}

input[type="checkbox"]:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
  }

  input[type="checkbox"]:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }

  input[type="checkbox"]:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  input[type="checkbox"]:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }

  input[type="checkbox"]:disabled+span::before {
    background-color: #e9ecef;
  }

    /* ---- create ----  */

.create {
    margin-top: 60px;
    margin-bottom: 30px;
}

.account {
    padding: 10px 70px;
    background-color: var(--border);
    color: var(--white);
    font-size: 1rem;
    border-radius: 5px;
}


